// out: ../css/extras.min.css, compress: true, nib: true

bold = 600
normal = 400
light = 200
green = #6BBB02
greenAct = #439820
links = 'a:hover, a:active, a:focus'
dynamicImg()
  display block
  margin auto

body
  font-family 'Dosis'
  @media screen and (min-width 768px)
    margin-top 50px

a
  color green
  &:hover,:focus,:active
    color greenAct
    text-decoration none

.navbar
  z-index 3
  position fixed
  width 100%
  background green
  top 0
  border-radius 0
  & a
    color white
    &.navbar-brand
      font-weight bold
    ../ li
      {links},
      &.active a
        background none
        opacity .5


.container
  margin-top 25px
  p
    font-size 15px
  for n in 1 .. 6
    & h{n}
      display inline-block
      color green
      font-weight bold
      &.center
        text-align: center;
        display block
      &+i
        font-size 30px
        color green
        margin-left 10px
  &-fluid.header
    background green
    padding 50px
  .row
    margin-bottom 20px
    & table
      & img
        max-height 125px
      & td
        padding 15px
        @media screen and (max-width 768px)
          padding 15px 0
      & h3
        margin-top 0
        @media screen and (max-width 768px)
          border-left 2px green solid
          padding-left 20px
  .btn
    display block
    font-size 20px
    font-weight bold
    margin auto
    padding 15px
    background green
    color white
    &:hover,:active,:focus
      background greenAct

div.foot
  margin-top 20px
  background green
  width 100%
  text-align center
  position absolute
  left 0
  padding 15px
